absl-py>=1.4,<3
astor==0.8.1
certifi>=2024.2.2
gast==0.4.0
grpcio>=1.59,<2
h5py>=3.10,<4
keras==2.15.0
Markdown>=3.5,<4
numpy==1.26.4
protobuf>=4.23,<5
PyYAML>=6.0.1,<7
scipy>=1.11,<1.13
six>=1.16,<2
tensorboard==2.15.2
tensorflow==2.15.1
termcolor>=2.4,<3
Werkzeug>=2.3,<3.1
